* {
  box-sizing: border-box;
}

.wrapper{
 display: flex;
 justify-content: center;
}

.header {
  width: 100vw;
  height: 16vh;
  background-color: rgb(6, 158, 158);
}

 .seasoning-icon {
  width: 70px;
  height: 70px;
  margin-left: 3vw;
}

.nav {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.lists-left {
  display: flex;
}

.sub_title{
  font-family: fantasy;
  font-size: 20px;
  font-style: italic;
  color: floralwhite;
  margin-top: 30px;
  margin-left: 20px;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
  margin-bottom: 20px;
  margin-right: 50px;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: floralwhite;
  font-family: "M PLUS Rounded 1c";
} 

.logout {
  text-decoration: none;
  color: floralwhite;
  font-family: "M PLUS Rounded 1c";
  margin-left: 10px;
}

.btn {
  text-decoration: none;
  margin-right: 3vw;
  font-family: "M PLUS Rounded 1c";
  position: relative;
  display: inline-block;
  padding: 0.25em 1em;
  text-decoration: none;
  color: darkolivegreen;;
  background: #f5f25c;
  border: solid 1px #0f9ada;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}