.sub_header{
  width: 100vw;
  height: 80px;
  background-color: whitesmoke;
  display: flex;
  border: 1px solid black;
}

.sub_comment{
  margin-top: 20px;
  margin-left: 40px;
  font-size: 25px;
  font-family: "M PLUS Rounded 1c";
}

.search-form{
  width: 35%;
  position: relative;
  display: flex;
  margin-left: 200px;
}

.search-input{
  width: 100%;
  border: 3px solid darkgray;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: darkslategrey;
  margin-top: 20px;
}

.search-btn{
  width: 60px;
  height: 40px;
  border: 1px solid black;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
}