<div class='header'>
  <div class='nav'>
   <ul class='lists-left'>
      <%= link_to image_tag("seasoning.png", class:"seasoning-icon"), "/" %>
      <li class='sub_title'> Seasoning Create </li>
    </ul>
    <ul class='lists-right'>
      <%# ログインの有無で表示変更 %>
      
      <%# /ログインの有無で表示変更 %>
    </ul>
  </div>
</header>
