/* トップページ */
.main{
  background-color: rgba(188, 201, 201, 0.278);
  width: 100vw;
  height: 120vh;
}

.image_position{
  display: flex;
  justify-content: space-around;
}

.menus_image{
  height: 120px;
  width:  120px;
  margin-top: 70px;
}

.select_taste{
  display: flex;
  justify-content: space-around;
  font-family: "M PLUS Rounded 1c";
}
/* トップページ */
