/* メイントップページ */
.main{
  width: 100%;
  height: 100%;
}

.image_position{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  background-color: palegoldenrod;
}

.menus_image{
  height: 200px;
  width:  200px;
}

.select_taste{
  display: flex;
  justify-content: space-around;
  font-family: "M PLUS Rounded 1c";
  font-size: 25px;
}
/* メイントップページ */

/* 投稿一覧 */
h2{
  position: relative;
  display: inline-block;
  padding: 1rem 2rem 1rem 4rem;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #e95e5e;
  font-family: "M PLUS Rounded 1c";
}

h2:before {
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}

.taste-contents {
  background-color: #FFF;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  height: 150vh;
}

.taste-lists {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "M PLUS Rounded 1c";
}

.list {
  position: relative;
  width: 35vh;
  height: 35vh;
  padding: 6px;
  background-color: #FFF;
}

.taste-img {
  width: 20vw;
  height: 30vh;
}

.taste-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.taste-name {
  position: absolute;
  bottom: -35px;
  font-size: 3vh;
  font-family: "M PLUS Rounded 1c";
}

.taste-example {
  font-size: 2vh;
  display: flex;
  justify-content: space-between;
  font-family: "M PLUS Rounded 1c";
}

.fa{
  position: absolute;
  bottom: -15%;
  right: 5%;
  text-decoration: none;
}

.far{
  position: absolute;
  bottom: -15%;
  right: 5%;
}
/* 投稿一覧 */