.form-wrap{
  display: block;
  margin-left: 40vw;
}

.error-message {
  text-align: center;
  color: darkred;
}

.registrations-link{
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 20px;
  color: darkslategrey;
}

.field{
  width: 30%;
  margin-top: 50px;
}

.actions {
  width: 30%;
  margin-top: 50px;
}

.login-blue-btn {
  width: 50%;
  background: rgb(1, 41, 57);
  border: 1px solid rgb(0, 114, 159);
  color: #fff;
  line-height: 48px;
  font-size: 20px;
  cursor: pointer;
}
